table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
  
thead th:nth-child(1) {
	width: 30%;
}
  
thead th:nth-child(2) {
	width: 15%;
}
  
thead th:nth-child(3) {
	width: 20%;
}
  
thead th:nth-child(4) {
	width: 35%;
}
  
th, td {
	padding: 10px;
}

tbody td {
	text-align: center
}

tbody tr:nth-child(odd) {
	background-color: lightgray;
}
  
tbody tr:nth-child(even) {
	background-color: white;
}